@import "vendor";
@import "fonts";
@import "colors";

// Components
@import "components/grid";
@import "components/sidebar";
@import "components/navbar";
@import "components/login";
@import "components/UKgrid";

* {
  font-family: MetropolisRegular;
}

h1, h2, h3, h4, h5, h6 {
  font-family: MetropolisBold;
}

body {
  min-height: 100vh;
  background-color: $color-main;
}
