@import "vendor";
@import "fonts";
@import "colors";
@import "scrollbar";
@import "components/searchfilter";
// Components
@import "components/grid";
@import "components/sidebar";
@import "components/navbar";
@import "components/login";
@import "components/uikit_fa";
@import "components/controlpanel";
@import "components/trendschart";
@import "components/messanger";

@import "vendors/bootstrap/bootstrap-grid";

* {
  font-family: MetropolisRegular;
    scrollbar-color: $color-underline $color-text-grey;
    ::-webkit-scrollbar-track{
        background-color: $color-text-grey;

    }
    ::-webkit-scrollbar-thumb{
        background-color: $color-underline;

    }
}


h1, h2, h3, h4, h5, h6 {
  font-family: MetropolisBold;
}

body {
  min-height: 100vh;
  background-color: $color-main;
}

.container-main{
    background-color: $color-main;
}
::-webkit-scrollbar{
    background-color: red;
}


