$color-sidebar: white;
$color-main: #d2d2d2;


/* Text--------------------------------------*/
$color-text-white: rgba(255,255,255);
$color-text-grey: rgba(197,197,197);
$color-text-black: rgba(0,0,0);

$color-underline: rgba(219,66,50);

/* background---------------------------------*/
$color-background-white: rgba(255,255,255);
$color-background-grey: rgba(249,249,249);
$color-background-red: rgba(236,49,46);

/* Button-------------------------------------*/
$color-button-background-default: rgba(255,103,91);
$color-button-background-hover: rgba(255,75,60);

/* Sidebar-----------------------------------*/
$color-sidebar-up: rgba(52,52,54,0.8);
$color-sidebar-down: rgba(22,16,14,0.8);
