$color-sidebar: white;
$color-main: #d2d2d2;


/* Text--------------------------------------*/
$color-text-white: rgba(255,255,255,1.0);
$color-text-grey: rgba(197,197,197,1.0);
$color-text-black: rgba(0,0,0,1.0);

$color-underline: rgba(219,66,50,1.0);

/* background---------------------------------*/
$color-background-white: rgba(255,255,255,1.0);
$color-background-grey: rgba(249,249,249,1.0);
$color-background-red: rgba(236,49,46,1.0);

/* Button-------------------------------------*/
$color-button-background-default: rgba(255,103,91,1.0);
$color-button-background-hover: rgba(255,75,60,1.0);

/* Sidebar-----------------------------------*/
$color-sidebar-up: rgba(52,52,54,0.8);
$color-sidebar-down: rgba(22,16,14,0.8);
