.logo{
  width: 125px;
  height: 250px;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 180px;
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.4));
}

.footer{
  display: block;
  overflow: hidden;
  padding: 70px 0;
  box-sizing: border-box;
  background-color: #18181a;
}

.inner_footer{
  display: block;
  margin: 0 auto;
  width: 1100px;
  height: 100%;
}

.inner_footer .logo_container{
  width: 35%;
  float: left;
  height: 100%;
  display: block;
}

.inner_footer .footer_third{
  width: calc(21.6666666667% - 20px);
  margin-right: 10px;
  float: left;
  height: 100%;
}

.inner_footer .footer_third:last-child{
  margin: 0;
}

.inner_footer .footer_third h1{
  color: rgba(255,75,60);
  display: block;
  width: 100%;
  margin-bottom: 20px;
}
