$logout-button-diameter: 65px;
$navbar-height: 75px;

.sticky {
    .morph-drop-shadow {
        box-shadow: none;
        transition: all 0.5s ease;
    }
}

.page-title {
    display: flex;
    margin: 0;
    align-items: center;
}

.navbar {
    justify-content: space-between;
    padding-left: 55px;
    padding-right: 40px;
    background: rgba(255,255,255, 1);
    height: $navbar-height;
    min-width: calc(100% - 240px);
    left: 240px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
    outline: none;
    display: flex;
    overflow-x: hidden;

    &-buttons {
        display: flex;
    }
}

.button-logout {
    width: $logout-button-diameter;
    align-items: center;
    justify-content: center;
    display: flex;
    z-index: 6;

    .uk-icon-button {
        color: $color-button-background-default;
    }
}
.morph-button-round {
    border-radius: $logout-button-diameter /2;
}

.morph-drop-shadow {
    margin: 0;
    height: $logout-button-diameter - 16px;
    width:$logout-button-diameter - 16px;
    box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
    background-color: $color-underline;
    transition: all 1.3s ease;
}

.morph-insert-shadow {
    margin: 0;
    background-color: $color-underline;
    height: $logout-button-diameter - 25px;
    width: $logout-button-diameter - 25px;
    box-shadow: inset 4px 4px 5px 0 rgba(0, 0, 0, 0.1),
    inset -4px -4px 5px 0 rgba(255, 255, 255, 0.3);
}
