.tag-search-container {
    width: 60%;
    height: 100px;
}

.tag-container{
    border: 2px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    height: 100px;
}
.tag-container .tag {
    padding: 5px;
    border: 1px solid #ccc;
    margin: 5px;
    display: flex;
    align-items: center;
    border-radius: 3px;
    background: #db4232;
    border-radius: 15px;
    cursor: default;
}
.tag .icon {
    font-size: 16px;
    margin-left: 5px;
}
.tag svg {
    pointer-events: none;
}
.tag-container input{
    flex: 1;
    font-size: 16px;
    padding: 5px;
    outline: 0;
    border:0;
    background: none;
}


