.headsection {
    display: grid;
    grid-template-rows:80px 1fr;
    grid-template-columns:25% 25% 25% 25%;

.uk-f-name{
    width: 100%;
    grid-column-start:1;
    grid-column-end:1;
    grid-row-start:1;
    grid-row-end:1;
}
    .uk-f-description{
        padding-left: 10px;
        width: 100%;
        grid-column-start:2;
        grid-column-end:5;
        grid-row-start:1;
        grid-row-end:1;
        .uk-f-t-name{
            width: 100%;
        }
    }
}

.subsection {
    display: grid;
    grid-template-rows:40px 1fr;
    grid-template-columns:33% 34% 33%;
    .sub1{
        width: 100%;
        grid-column-start:1;
        grid-column-end:1;
        grid-row-start:1;
        grid-row-end:1;
    }
    .sub2{

        grid-column-start:2;
        grid-column-end:2;
        grid-row-start:1;
        grid-row-end:1;
        padding-left: 10px;
        padding-right: 10px;

    }
    .sub3{
        width: 100%;
        grid-column-start:3;
        grid-column-end:3;
        grid-row-start:1;
        grid-row-end:1;
    }

}
.button-section{
    margin-top: 20px;
    margin-outside: 10px;
    display: grid;
    grid-template-rows:42px 1fr;
    grid-template-columns:50% 50%;
}





